/* company 콘텐츠전체영역 시작 */
#company {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* company 콘텐츠전체영역 끝 */
/* ----------------------------------------------------- */
/* aside 메뉴영역시작 */
aside {
  max-width: 30%;
  box-sizing: border-box;
  float: left;
}

aside h2 {}

aside ul {}

aside ul.company_intro_nav {}

aside ul.company_intro_nav li {}

aside ul.company_intro_nav li a {}

aside ul.nav_left {}

aside ul.nav_left li {}

aside ul.nav_left li a {}

/* aside 메뉴영역끝 */
/* ----------------------------------------------------- */
/* 오른쪽content 내용영역 시작  */
.submain {
  width: 70%;
  float: right;
}

.submain .history {
  text-align: right;
}

.submain .text-center {
  text-align: center;
}

s .submain figure {
  text-align: center;
}

.submain figure img {}

.submain article {}

.history {
  text-align: center;
}

/* 오른쪽content 내용영역 끝  */
/* ----------------------------------------------------- */