#company {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/* 좌측메뉴 영역 시작*/
aside {
  max-width: 30%;
  box-sizing: border-box;
  float: left;
}
/* 좌측메뉴 영역 끝*/
/* 오른쪽content 내용영역 */

/* 우측메뉴 영역 시작*/

/* 우측메뉴 영역 끝 */
