@charset "UTF-8";

/* 스타일 주석 */
/* 상단영역 */
/* 스타일 구문형식
  마크업명{
   속성 : 값;
  }
 */
header {
  max-width: 1200px;
  /* 최대너비 */
  margin: 0 auto;
  /* 중앙정렬 */
  padding-top: 30px;
  overflow: hidden;
}

h1 {
  float: left;
  /* 수평정렬 */
  width: 15%;
}

header h1 a {
  width: 120px;
  height: 40px;
  display: block;
  text-align: center;
}

header>ul {
  /* > 자식선택자 바로아래있는 태그를 가르킴 */
  float: left;
}

header ul.gnb {
  /* + 인접선택자 옆에 있는 태그를 가르킴 */
  width: 70%;
  text-align: center;
}

ul.gnb {}

ul.gnb li {
  font-size: 13px;
  display: inline-block;
}

ul.gnb li h2 {}

ul.gnb li h2 a {
  padding: 4px 20px;
}

header ul.enb {
  width: 15%;
  position: relative;
}

header ul.enb li {
  float: left;
  font-size: 12px;
}

header ul.enb li:first-child {
  width: 39%;
  text-align: left;
}

header ul.enb li:nth-child(2) {
  width: 61%;
  text-align: right;
}

header ul.enb li:last-child {
  position: absolute;
  top: -25px;
  background-color: red;
  width: 100%;
  padding: 5px;
}

header ul.enb li:last-child a {
  color: #fff;
  line-height: 100%;
  width: 100%;
  display: block;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}

header ul.enb li:last-child a i {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  vertical-align: middle;
}

hr {
  display: none;
}

/* 타이틀영역 */
div#title {
  padding: 200px 0 200px 0;
  background-image: url(../img/interiorhome.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 100px;
  box-sizing: content-box;
}

div#title h2 {
  color: white;
  font-size: 20px;
  line-height: 2;
}

div#title h3 {
  color: white;
  font-size: 40px;
  line-height: 1;
}

div#title a {
  color: white;
  font-size: 15px;
  border: 1px solid white;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  border-bottom: border-box;
}

div#title a:after {
  content: ">";
  margin-left: 12px;
  font-size: 20px;
  transform: scaleX(0.5);
  display: inline-block;
}

div#title ul li.hide {
  display: none;
}

/*컨텐츠 issues */
/* 컨텐츠 -----이슈  */
main {
  width: 100%;
  height: 100%;
}

main #issues {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 125px;
}

main #issues h2 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

main #issues h2::before {
  content: "[ ";
}

main #issues h2::after {
  content: " ]";
}

main #issues h3 {}

main #issues h2+p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

main #issues ul {
  text-align: center;
  overflow: hidden;
}

main #issues ul li {
  text-align: left;
  display: inline-block;
  width: 30%;
}

main #issues ul li.left {
  float: left;
}

main #issues ul li.left a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(https://www.fursys.com/fur_frt/images/main_renewal/0819/issues.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #issues ul li.left+li a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(https://www.fursys.com/fur_frt/images/main_renewal/0404/issues_02.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #issues ul li.right {
  float: right;
}

main #issues ul li.right a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(https://www.fursys.com/fur_frt/images/main_renewal/0404/issues_03.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #issues ul li a {
  -color: blue;
  display: block;
  position: relative;
}

main #issues ul li a::before {
  content: "";
}

main #issues ul li a h3 {
  font-weight: bold;
  line-height: 3;
}

main #issues ul li a h3+p {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

main #issues ul li a p.go {
  position: absolute;
  top: calc(100%/2 - 50px);
  left: calc(100% /3);
  z-index: 3;
  color: white;
  opacity: 0%;
  font-weight: bold;
}

main #issues ul li a:hover p.go {
  opacity: 100%;
}

main #issues ul li a:hover span.go_blind {
  opacity: 70%
}

main #issues ul li a span.go_blind {
  display: block;
  position: absolute;
  width: 100%;
  height: 330px;
  background-color: black;
  top: 0;
  opacity: 0%;
  z-index: 1;
}

/* 컨텐츠 office_banner영역 */
main div#office_banner {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../img/img_officewelove_bg@2x.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  padding-left: 60px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 70px;
}

main div#office_banner h2 {
  font-size: 30px;
  font-weight: bold;
}

main div#office_banner p {
  margin: 20px 0 20px;
  font-size: 13px;
  font-weight: bold;
}

main div#office_banner a {
  padding: 10px 20px;
  background-color: red;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 20px;
  box-sizing: border-box;
}

/*  쇼룸------------------------- */
#showroom {
  padding-top: 120px;
  text-align: center;
}

#showroom h2 {
  text-align: center;
  font-size: 47px;
  margin-bottom: 22px;
}

#showroom h2+p {
  text-align: center;
}

#showroom ul {}

/* 쇼룸리스트 */
#showroom ul.list {
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
}

#showroom ul.list li {
  display: inline-block;
}

#showroom ul.list li+li {
  border-left: 1px solid;
}

#showroom ul.list li a {
  padding: 6px 20px;
  display: block;
}

/* 쇼룸디테일 */
#showroom ul.detail {
  padding-top: 30px;
  max-width: 1920px;
  height: 33.85416vw;
  position: relative;
}

#showroom ul.detail li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#showroom ul.detail li h3 {
  display: none;
}

#showroom ul.detail li img {
  width: 100%;
}

#showroom a.go {
  display: inline-block;
  padding: 6px 20px;
  border: 1px solid;
  font-size: 13px;
}

#showroom a.go::after {
  content: ">";
  margin-left: 8px;
  transform: scaleY(1.7) translateY(-1.5px);
  display: inline-block;
}

main div#showroom a.go {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid;
  font-size: 13px;
}
main div#showroom a.go:hover {
  background-color: black;
  color: white;
}
main div#showroom a.go::after {
  content: ">";
  margin-left: 5px;
  display: inline-block;
  transform: scaleX(0.5);
}

main div#showroom button.counsel {
  position: fixed;
  bottom: 100px;
  right: 50px;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background: #616161;
  color: white;
  font-size: 16px;
  z-index: 999;
}

main div#showroom button.counsel i {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: -4px;
}

/* 컨텐츠 news영역 */
main div#news {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}

main div#news h2, p {
  text-align: center
}

main div#news h2 {
  font-size: 47px;
  /*! margin-bottom: 22px; */
  margin-top: 70px;
}

main div#news p {
  line-height: 4;
}

main div#news ul {
  background-color: #8080802e;
  padding: 30px;
  line-height: 1em;
  margin-top: 30px;
}

main div#news ul li {
  line-height: 2.5em;
}

main div#news ul li>h3 {
  float: left;
  width: 200px;
}

main div#news ul li a {
  text-align: center;
}

main div#news ul li time {
  float: right;
}
/*콘텐츠 news,case study 공통적용버튼*/
a.more {
  position: absolute;
  right: 0;
  border: 1px solid;
  padding: 0px 5px 5px 5px;
  font-size: 18px;
  font-weight: bold;
  top: 10px;
  line-height: 1;
}
  a.more:hover{
    background-color: black;
    color:white;
  }

 a.more:after {
  content: ">";
  transform: scaleX(0.5);
  margin-left: 5px;
}
/* 콘텐츠 studycase영역 */
main #studycase {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

main #studycase h2 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

main #studycase h2::before {
  content: "[ ";
}

main #studycase h2::after {
  content: " ]";
}

main #studycase h3 {}

main #studycase h2+p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

main #studycase ul {
  text-align: center;
  overflow: hidden;
}

main #studycase ul li {
  text-align: left;
  display: inline-block;
  width: 30%;
}

main #studycase ul li.left {
  float: left;
}

main #studycase ul li.left a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(../img/studycase/case_study_01.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #studycase ul li.left+li a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(../img/studycase/case_study_02.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #studycase ul li.right {
  float: right;
}

main #studycase ul li.right a::before {
  content: "";
  width: 100%;
  height: 330px;
  background-image: url(../img/studycase/case_study_03.jpg);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

main #studycase ul li a {
  -color: blue;
  display: block;
  position: relative;
}

main #studycase ul li a::before {
  content: "";
}

main #studycase ul li a h3 {
  font-weight: bold;
  line-height: 3;
}

main #studycase ul li a h3+p {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}
main #studycase ul li a p.go {
  position: absolute;
  top: calc(100%/2 - 50px);
  left: calc(100% /3);
  z-index: 3;
  color: white;
  opacity: 0%;
  font-weight: bold;
}
main #studycase ul li a:hover p.go {
  opacity: 100%;
}

main #studycase ul li a:hover span.go_blind {
  opacity: 70%
}

main #studycase ul li a span.go_blind {
  display: block;
  position: absolute;
  width: 100%;
  height: 330px;
  background-color: black;
  top: 0;
  opacity: 0%;
  z-index: 1;
}
