@charset "utf-8";


@media screen and (max-width:1200px) {

    #studycase{}
    #studycase ul.box_place{
        display:flex;
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
    }
    
}