@charset "utf-8";

#introduce {
    padding: 0;
    height: 100%;
}

/* 히스토리 */

.history {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 20px;
}

.history_wrap {
    width: 100%;
    border-bottom: 1px solid #262626;
}

.history>ul {
    display: flex;
}

.history ul:last-child {
    margin-right: 13%;
}

.history ul:last-child li {

    position: relative;
}

.history ul li {
    font-size: 14px;
}

.history ul li+li {
    margin-left: 20px;
}

.history ul:not(ul:last-child)>li+li::before {
    content: ">";
    margin-right: 15px;
}

.history ul button {
    border: none;
    width: 30px;
    height: 30px;

}

.history ul:last-child li:nth-of-type(1) button {
    background-image: url(../img/introduce/history/icn_print.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
    overflow: hidden;
    background-color: #fff;
}

.history ul:last-child li:nth-of-type(2)::before {
    content: "";
    width: 1px;
    height: 70%;
    display: block;
    background-color: #d6d5d5;
    position: absolute;
    left: -13px;
    top: 5px;
}

.history ul:last-child li:nth-of-type(2) button {
    border: 1px solid #d6d5d5;
    background-color: #fff;
}

.history ul:last-child li:nth-of-type(2) button:last-child {
    border-left: none;
}

/* intro_1 */
.intro {}

.intro_1 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../img/introduce/intro_bg01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.intro_1 h2 {
    padding: 0 0 50px;
    font-weight: bold;
}

/* 탭메뉴리스트 */
.intro_1 ul.tap {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.intro_1 ul.tap li {
    width: calc(100%/4);
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #4b4a4a;
    box-sizing: border-box;
}

.intro_1 ul.tap li:hover a {
    text-decoration: underline;
}

.intro_1 ul.tap li+li {
    border-left: none;
}

.intro_1 ul.tap li.on a {
    color: #fff;
    background-color: #2c4494;
    font-weight: bold;
}

.intro_1 ul.tap li a {
    display: block;
}

.intro_1 .intro_page {}

.intro_1 .intro_page h3 {
    color: dodgerblue;
    margin-bottom: 30px;
}

.intro_1 .intro_page>p {
    font-size: 18px;
    letter-spacing: -1px;
}

.intro_1 .intro_page>p strong {
    font-weight: bolder;
}

.intro_1 .intro_page ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

.intro_1 .intro_page ul li {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 80px;

}

.intro_1 .intro_page ul li h4 {
    background-color: dodgerblue;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    white-space: pre-line;
    line-height: 30px;
    padding: 35px 10px;
    box-sizing: border-box;
}

.intro_1 .intro_page ul li p {
    margin-left: 30px;
    height: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 25px 0;
    box-sizing: border-box;
}

.intro_1 .intro_page ul li p strong {
    color: #0461be;
}

/* intro_2 */

.intro_2 {
    width: 100%;
    margin: 50px 0;
}

.intro_2 .banner_wrap {
    background-color: #f7f2f2;
}

.intro_2 .banner {
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;
    background-image: url(../img/introduce/intro_vision_view.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.intro_2 .banner div {
    white-space: pre-line;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 0.9em;

}

.intro_2 .banner div:first-child {
    text-align: left;
    color: green;
    position: absolute;
    bottom: 22%;
    left: 18%
}

.intro_2 .banner div:last-child {
    text-align: right;
    position: absolute;
    right: 18%;
    top: 22%;
    color: midnightblue;
}

.intro_2 ul {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.intro_2 li {
    width: calc(100%/5);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center center;

}

.intro_2 li:nth-child(1) {
    background-image: url(../img/introduce/intro_vision_vv01.png);
}

.intro_2 li:nth-child(2) {
    background-image: url(../img/introduce/intro_vision_vv02.png);
}

.intro_2 li:nth-child(3) {
    background-image: url(../img/introduce/intro_vision_vv03.png);
}

.intro_2 li:nth-child(4) {
    background-image: url(../img/introduce/intro_vision_vv04.png);
}

.intro_2 li+li {
    position: relative;
}

.intro_2 li+li::before {
    content: "";
    display: block;
    background-color: #e2e1e1;
    width: 1px;
    height: 60%;
    position: absolute;
    top: 30%;

}

.intro_2 li h4 {
    color: midnightblue;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2;
}

.intro_2 li p {
    font-size: 0.8em;
    font-weight: bold;
}

/* intro_3 */

.intro_3 {
    max-width: 1000px;
    margin: 200px auto;
}

.intro_3 h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.intro_3 ul li {
    display: flex;
    justify-content: left;
}

/* 주요내용  */
.intro_3 ul.primary {
    margin-bottom: 120px;
}

.intro_3 ul.primary li {

    white-space: pre-line;
}

.intro_3 ul.primary li hgroup {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_3 ul.primary li hgroup h4 {
    color: dodgerblue;
    font-size: 1.3em;
    font-weight: bold;
}

.intro_3 ul.primary li hgroup h5 {
    color: #2c4494;
    font-weight: bold;
    padding-top: 5px;
    font-size: 0.8em;
}

.intro_3 ul.primary li>div {
    width: 70%;
    font-size: 1.1em;
}

.intro_3 ul.primary li div p {
    font-weight: bold;
}



.intro_3 ul.primary li div pre {
    background-color: #f3f3f3;
    padding: 20px 30px;
    text-align: left;
    white-space: pre-line;
    font-size: 0.9em;
    line-height: 1.2
}

.intro_3 ul.primary li div strong {
    color: red;
}

.intro_3 ul.primary li div pre span {
    font-weight: bold;
    color: #2c4494;
}

/* 대상업무 */

.intro_3 ul.tar_work {
    border-top: 1px solid #000;
    margin-top: 20px;
}

.intro_3 ul.tar_work li {
    border-bottom: 1px solid #d6d5d5;
    font-size: 0.9em;
}

.intro_3 ul.tar_work li hgroup {

    padding: 13px;
    width: 30%;
    display: block;
    background-color: #f3f3f3;
}

.intro_3 ul.tar_work li p {
    width: 70%;
    padding: 13px;
}