/* HEADER */

header {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
}

.logo {}

.logo a {}

nav.nav {
    display: flex;
    align-items: center;
    transition: .2s;
}

.hide {
    display: none !important;
}

nav.nav .search {
    font-size: 1.2em;
}

nav.nav .search .material-icons {
    font-size: 1.5em;
    color: black;
}

nav.nav .ham-Btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-left: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s;
}

nav.nav .ham-Btn:hover {
    height: 20px;
}

nav.nav .ham-Btn span {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

/* GLOBALSEARCH */
.global__Search {
    width: 100%;
    height: 549px;
    position: absolute;
    top: -549px;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transition: top 0.5s;
}

.slideDown {
    top: 0;
}

.global__Search .global__Search--wrap {
    width: 80%;
    height: 100%;
    margin: 100px auto;
    position: relative;
}

.global__Search--wrap form {
    width: 100%;
    display: flex;
}

.global__Search--wrap form input {
    width: 100%;
    height: 3em;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0);
}

.global__Search--wrap .suggestions {
    text-align: left;
}

/* GLOBALMENU */
.global__Menu {
    position: absolute;
    display: none;
    ;
}