/* HEADER */

header {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
}

.logo {}

.logo a {}

.nav {
    display: flex;
    align-items: center;
    transition: .2s;
}

nav.hide {
    display: none;
}

.nav .search {
    font-size: 1.2em;
}


.nav .ham-Btn {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-left: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s;
}

.nav .ham-Btn:hover {
    height: 20px;
}

.nav .ham-Btn span {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

/* GLOBALSEARCH */
.global__Search {
    width: 100%;
    height: 549px;
    position: absolute;
    top: -549px;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transition: top 0.5s;
}

.slideDown {
    top: 0;
}

.global__Search .global__Search--wrap {
    width: 80%;
    height: 100%;
    margin: 100px auto;
    position: relative;
}

.global__Search--wrap form {
    width: 100%;
    display: flex;
}

.global__Search--wrap form input {
    width: 100%;
    height: 3em;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: rgba(255, 255, 255, 0);

}

.global__Search--wrap form input::placeholder {
    font-size: 1.5em;
    font-weight: var(--font-weight);
}

.suggestions {
    text-align: left;
}

.suggestions h4 {
    line-height: 5;
    color: var(--gray)
}

.suggestions .menu {}

.suggestions .menu li {
    line-height: 2;
}

.suggestions .menu li a {
    font-size: 1.5em;
}

.suggestions .menu li:hover a {
    color: var(--green)
}

/* GLOBALMENU */
.global__Menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right:-100%;
    display: flex;
    box-sizing: border-box;
    transition: right 0.5s;
}
div.slideLeft{
    right:0%;
}

.global__Menu__left,
.global__Menu__right {
    width: calc(100%/2);
    padding:3.2em;
}

.global__Menu__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.global__Menu__left {background-color: var(--white);}

.global__Menu__left .item {
}

.global__Menu__left .item>.item__name {
    line-height:3;
}

.global__Menu__left .item .item__list {}

.global__Menu__left .item .item__list li {
    font-size: 1.2em;
    line-height:2em;
}

.global__Menu__left .item .item__list li a {
    color: var(--gray)
}

.global__Menu__left .sns{
    display:flex;
    align-items: flex-start;
}
.global__Menu__left .sns li{

}
.global__Menu__right{
    position:relative;
    background-color: var(--green);
}