/* CONTENT */

/* main__slider */
.main__slide {
    width: 100%;

}
.main__slide .inner {
    padding-top: 46%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.main__slide .inner:nth-child(1) {
    background-image: url(../img/lirikos/main_banner/main_visual_01.jpg);
}

.main__slide .inner:nth-child(2) {
    background-image: url(../img/lirikos/main_banner/main_visual_02.jpg);
}

.main__slide .inner .inner--content{
    position:absolute;
    top:50%;
    left: 10%;
    transform:translateY(-50%);
}
