/* CONTENT */

/* MAIN SLIDE*/
.main__slide {
    width: 100%;
}

.main__slide .swiper-container {
    margin-right: 5em;
}

.main__slide .swiper-slide .inner {
    padding-top: 46%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main__slide .swiper-slide .first-img {
    background-image: url(../img/lirikos/main_banner/main_visual_01.jpg);
}

.main__slide .swiper-slide .second-img {
    background-image: url(../img/lirikos/main_banner/main_visual_02.jpg);
}

.main__slide .swiper-slide .inner--content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
}

.main__slide .swiper-slide-active .inner--content {
    opacity: 1;
}

/* BEST SELLERS */

.best-sellers .wrap {
    padding-top: 200px
}

.best-sellers .items {
    display: flex;
    flex-wrap: wrap;
}

.best-sellers .items li {
    margin-top: 5rem;
    width: calc(100%/3 - 1.2em);
}

.best-sellers .items li:hover img {
    opacity: 0
}

.best-sellers .items li+li {
    padding: 0 1.2em;
    box-sizing: border-box;
}

.best-sellers .items li a figure {
    background-repeat: no-repeat;
    background-size: cover;
}

.best-sellers .items li:nth-of-type(2) figure,
.best-sellers .items li:nth-of-type(5) figure {
    margin-top: -5.7rem;
}

.best-sellers .items li a figure img {
    width: 100%;
    object-fit: cover;
    transition: .5s;
    display: block;
}

.best-sellers .items li a h3 {
    color: var(--black);
    font-weight: 300;
    text-align: center;
    white-space: wrap;
}

/* BRAND STORY */

.brand-story {
    overflow: hidden;
    margin-top: 6.2em;
    height: 100vh;
}

.brand-story h2 {
    font-size: 8rem;
    color: #c2c1c1;
    text-align: right;
    margin-bottom: -3rem;
    margin-right: 4rem;
}

.brand-story .wrap {
    position: relative;
    height: 100%;
    
}

.brand-story .wrap video {
    min-width: 1000px;
    position: absolute;
    z-index: -1;
}

.brand-story .wrap video source {
    background-color: rgba(0,0,0,.7);
}
.brand-story .swiper-container{
    top:50%;
    left:15%;
    transform:translateY(-50%);
}