@charset "utf-8";

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

header .header_wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

header h1.logo {
    float: left;
    width: 10%;
}

header h1.logo a {
    display: block;
    background-image: url(../img/header/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    background-size: contain;
}

nav.gnb {
    float: right;
    width: 90%;
}

nav.gnb>ul {
    box-sizing: border-box;
    overflow: hidden;
}

nav.gnb>ul>li {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
}

nav.gnb>ul>li>a {
    display: inline-block;
}

nav ul:nth-child(1) {
    width: 40%;
    float: left;
    display: table;
    table-layout: fixed;
    text-align: center;
    margin-left: 100px;

}

nav ul:nth-child(1)>li {
    text-align: center;
    display: table-cell;
}

nav>ul:nth-child(1)>li>a {
    font-size: 1.1em;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
}


nav ul:nth-child(1) li:hover a {
    color: #08b4db;
}

nav>ul:nth-child(1)>li:hover>a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #08b4db;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav>ul:nth-child(2) {
    width: 40%;
    float: right;
}

nav>ul:nth-child(2)>li {

    box-sizing: border-box;
}

nav ul:nth-child(2) li+li {
    margin-right: 10px;
}

nav>ul:nth-child(2)>li>a {
    font-size: 14px;
}

nav>ul:nth-child(2)>li>a span {
    background-color: #08b4db;
    padding: 3px 20px;
    border-radius: 20px;
    color: #fff;
    margin: 0 10px;

}

/* 회원가입 및 로그인 */
nav ul .member a {
    display: inline;
    border: 1px solid;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

nav ul .join a {
    color: #4b4a4a;
}

nav ul .join:hover a {
    color: #000;
}

nav ul .login a {
    color: #08b4db;
    font-weight: bold;
}

nav ul .login:hover a {
    background-color: #08b4db;
    color: #fff;
}

/* my */

.my a {
    background-image: url(../img/header/icn_user.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -99999px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

/* 햄버거버튼 */
.menu {}

.menu a {
    background-image: url(../img/header/icn_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    text-indent: -99999px;
    width: 34px;
    height: 34px;
    line-height: 34px;
}

/* 풀다운메뉴 */
.fulldown_menu {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 50px;
    position: absolute;
    left: 0;
    display: none;
}

.fulldown_menu .fulldown_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.fulldown_menu .fulldown_wrap>* {
    float: left;
}

.fulldown_menu .fulldown_wrap h2 {
    font-size: 1.5em;
    font-weight: bold;
    /*! margin: 50px 0; */
}

.fulldown_menu .fulldown_wrap p {
    position: absolute;
    top: 74px;
    font-size: 14px;
    text-align: left;
    color: #939292;
    line-height: 1.2;
}

.fulldown_menu .fulldown_wrap .fulldown_top>li+li {
    margin-left: 30px;
}

.fulldown_menu .fulldown_wrap .fulldown_top {
    float: right;
    width: 80%;
    overflow: hidden;
}

.fulldown_menu .fulldown_wrap .fulldown_top .fulldown_sub {
    float: left;
    width: 20%;
    text-align: left;
}

.fulldown_menu .fulldown_wrap .fulldown_top .fulldown_sub h3 {
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid;
}

.fulldown_menu .fulldown_wrap .fulldown_top .fulldown_sub li {
    height: 30px;
    /*! line-height: 30px; */
    width: 100%;
    text-align: left;
}

.fulldown_menu .fulldown_wrap .fulldown_top .fulldown_sub li a {
    display: block;
    font-size: 13px;
    color: #262626;
}

/* quick메뉴란 */
.qnb {
    clear: both;
    float: right;
    position: fixed;
    right: 200px;
    top: 80px;
    width: 150px;
}

.qnb h2 {
    width: 150px;
    background-color: #105279;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}
.qnb h2:hover {
    
}
.qnb ul {
    display: none;
    overflow: hidden;
}

.qnb ul li {
    float: left;
    line-height: 30px;
    width: 100%;
    background-color: #fff;
}

.qnb ul li:hover a {
    color: #fff;
    font-weight: bold;
    background-color: #08b4db;
}

.qnb ul li a {
    display: block;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    color: #105279;
}

/*상단 지자체 장애현황표 */

.error_current {
    position: fixed;
    top: 10%;
    /*! width: 200px; */
    background-color: #fff;
    left: 5%;
    box-shadow: 10px 10px 19px #cac8c882;
}

.error_current h2 {
    font-size: 14px;
    line-height: 1.8;
    background-color: #262626;
    color: #fff;
    text-align: left;
    padding: 5px;
    font-weight: bolder;
}

.error_current h2 a {
    float: right;
    margin-right: 4px;
    background-image: url(../img/popup/btn_xl.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -99999px;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.error_current ul {padding: 7px;}

.error_current ul li {
    font-size: 13px;
    text-align: left;
    line-height: 0;
    padding: 7px 15px;
}

.error_current ul li span {
    display: inline-block;
    background-color: #fff;
    border: 1px solid;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
}

.error_current ul li a {
    display: inline-block;
}

.fail {
    color: #f00808cc;
}

.res {
    color: #08b4db;
}