@charset "utf-8";
/* ---------------------------- */

/* 컨텐츠영역 시작 */
/* ---------------------------- */
/* 민원신청 시작*/
#apply {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


#apply h2 {
  /*! padding-top: 50px; */
  margin-bottom: 40px;
}

#apply h2 strong {}

#apply fieldset {
  max-width: 60%;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}

#apply fieldset input {
  width: 80%;
  height: 100%;
  border: 3px solid #08b4db;
  box-sizing: border-box;
}

#apply fieldset input:focus {
  border: 2px solid #18ccf5;
  box-sizing: border-box;
}

#apply fieldset input[type="text"] {
  font-size: 18px;
  box-sizing: border-box;
  padding-left: 20px;
}

#apply fieldset button {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: #08b4db;
  vertical-align: top;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#apply>p {
  margin: 30px;
}

#apply p>span {
  color: white;
  background-color: rgb(7, 89, 136);
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 20px;
}

#apply .callcenter {
  margin: 30px;
}

#apply .callcenter p {
  font-weight: bold
}

#apply .callcenter p+p {
  font-size: 14px;
  margin: 10px;
  color: gray
}

#apply .callcenter p strong {
  color: red
}

#apply>span {
  display: block;
  width: 50%;
  height: 80px;
  line-height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

#apply>span a {
  width: calc(100%/2);
  display: inline-block;
  box-sizing: border-box;
  margin: -3px;
  font-size: 18px;
  font-weight: bold;
}

#apply>span a:first-child {
  background-color: blue;
  color: white;
}

#apply>span a:last-child {
  background-color: white;
}

#apply ul {}

#apply ul li {
  display: inline-block;
  vertical-align: top;
  width: 13%;
  height: 200px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
  cursor: pointer;
}

#apply ul li:hover {
  background-color: rgba(255, 255, 255, 1);
}

#apply ul li:last-child {
  background-color: rgba(255, 255, 255, 0.5);
}

#apply ul li:last-child:hover {
  background-color: rgba(255, 255, 255, 1);
}

#apply ul li::before {
  content: "";
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_01.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  background-repeat: no-repeat;
}

#apply ul li:nth-child(2):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_02.png);
}

#apply ul li:nth-child(3):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_03.png);
}

#apply ul li:nth-child(4):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_04.png);
}

#apply ul li:nth-child(5):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_05.png);
}

#apply ul li:nth-child(6)::before {
  content: "+";
  background-image: none;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 50px;
  background-color: rgb(64, 64, 68);
  line-height: 60px;
  border-radius: 50%;
  transition: all 0.3s;
  margin-bottom: 20px;
}

#apply ul li:nth-child(6):hover::before {
  transform: rotateY(180deg)
}

#apply ul li p {
  margin: 10px 0;
  font-size: 18px;
}

#apply ul li a {
  display: inline-block;
  color: white;
  padding: 5px;
  font-size: 14px;
}

#apply ul li:hover a {}

#apply ul li a:nth-of-type(1) {
  background-color: red;
}

#apply ul li a:nth-of-type(2) {
  background-color: blue;
}

#apply ul li:nth-child(6) p {
  color: rgba(64, 64, 68, 0.7);
  font-weight: bolder;
}

/* 민원신청 끝 */
/* ---------------------------- */
/* 건축물대장 시작 */
#architecture {
  background-color: rgb(159, 190, 196);

}

.architecture_wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

}

.architecture_wrap h2 {
  margin-bottom: 20px;
}

.architecture_wrap p {
  font-size: 13px;
  color: rgb(68, 68, 68);
}

.architecture_wrap>ul {
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}

.architecture_wrap ul li a {
  background-color: #fff;
  display: block;
}

.architecture_wrap>ul>li {
  float: left;
  width: calc(100%/3 - 10px);
  height: 300px;
  margin-right: 15px;
  box-sizing: content-box;

}

.architecture_wrap>ul>li:nth-child(3) {
  margin-right: 0;

}

.architecture_wrap>ul li a {
  width: 100%;
  height: 100%;
}

.architecture_wrap>ul li a p {
  font-size: 12px;
  height: 100px;
  padding-top: 30px;
  opacity: 0.8;
}

.architecture_wrap>ul li:hover a p {
  opacity: 1;
}

.architecture_wrap>ul>li:nth-child(1) a h3 {
  height: 200px;
  background-image: url(../img/main/main02_ricn_01.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 50%;
  background-color: rgb(116, 202, 241);
  line-height: 100px;

}

.architecture_wrap>ul>li:nth-child(2) a h3 {
  height: 200px;
  background-image: url(../img/main/main02_ricn_02.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 50%;
  background-color: rgb(116, 202, 241);
  line-height: 100px;
}

.architecture_wrap>ul li>ul {
  height: 100%;
  overflow: hidden;
}

.architecture_wrap>ul li ul li {
  height: calc(100%/2 - 5px);
  text-align: left;
  line-height: 145px;


}

.architecture_wrap ul li ul>li a h3 {
  height: 100%;
  background-image: url(../img/main/main02_ricn_03.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  padding-left: 10%;
}

.architecture_wrap ul li ul>li:last-child a h3 {
  background-image: url(../img/main/main02_ricn_04.png);
}

.architecture_wrap>ul li>ul li:first-child {
  margin-bottom: 15px;

}

.architecture_wrap span {
  display: block;
}

.architecture_wrap span a {
  display: inline-block;
  background-color: transparent;
  padding: 10px 50px;
  border-radius: 30px;
  border: 1px solid;
  font-size: 13px;
}

.architecture_wrap span a+a {
  margin-left: 10px;
}

.architecture_wrap>p {
  margin-top: 30px;
}

/* 건축물대장 끝 */
/* ---------------------------- */
/* 사이버통합협의시스템 외 슬라이드 부분 시작 */
#collusion {
  padding-top: 0;
  position: relative;
  background-color: #2d78de;
}

.slide1_wrap {
  /*! width: 100%; */
  height: 100%;
  background-color: #2d78de;

}

/* slide 첫번째  */
.slide1_wrap .slide1 {
  padding-top: 15%;
  width: 55%;
  height: 60%;
  margin: 0 auto;
  background-image: url(../img/collusion_slide/main03_vis_cybersys.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 110% center;
  box-sizing: content-box;

}

.slide1_wrap .slide1 .title {
  box-sizing: border-box;
  margin-left: 50px;
}

.slide1_wrap .slide1 .title a {
  padding: 15px 20px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 40px;
  color: white;
  transition: all 0.2s;
}

.slide1_wrap .slide1 .title a:hover {
  background-color: black;
}

.slide1_wrap .slide1 p {
  color: white;
  font-size: 1.2em;

}

.slide1_wrap .slide1 p:last-of-type {
  font-size: 12px;
  line-height: 1.3;
}

.slide1_wrap .slide1 h2 {
  margin: 10px 0 30px;
  font-size: 3em;
  color: white;
  font-weight: bold;
}

.slide1_wrap .slide1 h2 strong {
  color: #6abff2;
}

.slide1_wrap .slide1 a {}

/* prev next버튼 */
.arrowbtn {
  display: block;
  position: absolute;
  width: 100%;
  top: 57%;
}

.arrowbtn a {
  display: inine-block;
  padding: 30px;
  background-image: url(../img/collusion_slide/main_slide_arrow.png);
  text-indent: -99999px;
}

.arrowbtn a:first-child {
  float: left;
  margin-left: 200px;
  background-position: 0 0;
}

.arrowbtn a:last-child {
  float: right;
  margin-right: 200px;
  background-position: -99px 0;
}

/* 슬라이드 하단버튼 */
.list_btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50%;
  left: 25%;
  bottom: 10%;
  text-align: center;

}

.list_btn li {
  border-top: 2px solid white;
  width: calc(100%/3);
}

.list_btn li+li {
  margin-left: 20px;
}

.list_btn li a {
  display: block;
  color: white;
  padding: 20px;
}

/* 사이버통합협의시스템 외 슬라이드 부분 끝 */
/* ---------------------------- */
/* 유용한서비스 시작*/
#services {

  text-align: center;
}

.sevices_iconslist {
  display: flex;
  justify-content: center;
}

.sevices_iconslist li {}

.sevices_iconslist li a {}

/* 유용한서비스 끝*/
/* ---------------------------- */
/* 컨텐츠영역 끝*/