@charset "utf-8";
/* ---------------------------- */





/* ---------------------------- */
/* 컨텐츠영역 시작 */
/* ---------------------------- */
/* 민원신청 시작*/
/* ---------------------------- */
#apply {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


#apply h2 {
  margin-bottom: 40px;
}

#apply h2 strong {}

#apply fieldset {
  max-width: 60%;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
}

#apply fieldset input {
  width: 80%;
  height: 100%;
  border: 3px solid #08b4db;
  box-sizing: border-box;
}

#apply fieldset input:focus {
  border: 2px solid #18ccf5;
  box-sizing: border-box;
}

#apply fieldset input[type="text"] {
  font-size: 18px;
  box-sizing: border-box;
  padding-left: 20px;
}

#apply fieldset button {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: #08b4db;
  vertical-align: top;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#apply>p {
  margin: 30px;
}

#apply p>span {
  color: white;
  background-color: rgb(7, 89, 136);
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 20px;
}

#apply .callcenter {
  margin: 30px;
}

#apply .callcenter p {
  font-weight: bold
}

#apply .callcenter p+p {
  font-size: 14px;
  margin: 10px;
  color: gray
}

#apply .callcenter p strong {
  color: red
}

#apply>span {
  display: block;
  width: 50%;
  height: 80px;
  line-height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

#apply>span a {
  width: calc(100%/2);
  display: inline-block;
  box-sizing: border-box;
  margin: -3px;
  font-size: 18px;
  font-weight: bold;
}

#apply>span a:first-child {
  background-color: blue;
  color: white;
}

#apply>span a:last-child {
  background-color: white;
}

#apply ul li {
  display: inline-block;
  vertical-align: top;
  width: 13%;
  height: 200px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
  cursor: pointer;
}

#apply ul li:hover {
  background-color: rgba(255, 255, 255, 1);
}

#apply ul li:last-child {
  background-color: rgba(255, 255, 255, 0.5);
}

#apply ul li:last-child:hover {
  background-color: rgba(255, 255, 255, 1);
}

#apply ul li::before {
  content: "";
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_01.png);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  background-repeat: no-repeat;
}

#apply ul li:nth-child(2):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_02.png);
}

#apply ul li:nth-child(3):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_03.png);
}

#apply ul li:nth-child(4):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_04.png);
}

#apply ul li:nth-child(5):before {
  background-image: url(https://cloud.eais.go.kr/images/main/main01_micn_05.png);
}

#apply ul li:nth-child(6)::before {
  content: "+";
  background-image: none;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 50px;
  background-color: rgb(64, 64, 68);
  line-height: 60px;
  border-radius: 50%;
  transition: all 0.3s;
  margin-bottom: 20px;
}

#apply ul li:nth-child(6):hover::before {
  transform: rotateY(180deg)
}

#apply ul li p {
  margin: 10px 0;
  font-size: 18px;
}

#apply ul li a {
  display: inline-block;
  color: white;
  padding: 5px;
  font-size: 14px;
}

#apply ul li:hover>a {
  background-color: rgba(240, 8, 8, 1);
}

#apply ul li a:nth-of-type(1) {
  background-color: rgba(240, 8, 8, 0.8);
}

#apply ul li a:nth-of-type(2) {
  background-color: blue;
}

#apply ul li:nth-child(6) p {
  color: rgba(64, 64, 68, 0.7);
  font-weight: bolder;
}

/* ---------------------------- */
/* 민원신청 끝 */
/* ---------------------------- */

/* ---------------------------- */
/* 건축물대장 시작 */
/* ---------------------------- */
#architecture {
  background-color: rgb(159, 190, 196);

}

.architecture_wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

}

.architecture_wrap h2 {
  margin-bottom: 20px;
}

.architecture_wrap p {
  font-size: 13px;
  color: rgb(68, 68, 68);
}

.architecture_wrap>ul {
  margin-top: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}

.architecture_wrap ul li a {
  background-color: #fff;
  display: block;
}

.architecture_wrap>ul>li {
  float: left;
  width: calc(100%/3 - 10px);
  height: 300px;
  margin-right: 15px;
  box-sizing: content-box;

}

.architecture_wrap>ul>li:nth-child(3) {
  margin-right: 0;

}

.architecture_wrap>ul li a {
  width: 100%;
  height: 100%;
}

.architecture_wrap>ul li a p {
  font-size: 12px;
  height: 100px;
  padding-top: 30px;
  opacity: 0.8;
}

.architecture_wrap>ul li:hover a p {
  opacity: 1;
}

.architecture_wrap>ul>li:nth-child(1) a h3 {
  height: 200px;
  background-image: url(../img/main/main02_ricn_01.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 50%;
  background-color: rgb(116, 202, 241);
  line-height: 100px;

}

.architecture_wrap>ul>li:nth-child(2) a h3 {
  height: 200px;
  background-image: url(../img/main/main02_ricn_02.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 50%;
  background-color: rgb(116, 202, 241);
  line-height: 100px;
}

.architecture_wrap>ul li>ul {
  height: 100%;
  overflow: hidden;
}

.architecture_wrap>ul li ul li {
  height: calc(100%/2 - 5px);
  text-align: left;
  line-height: 145px;


}

.architecture_wrap ul li ul>li a h3 {
  height: 100%;
  background-image: url(../img/main/main02_ricn_03.png);
  background-repeat: no-repeat;
  background-position: 90% center;
  padding-left: 10%;
}

.architecture_wrap ul li ul>li:last-child a h3 {
  background-image: url(../img/main/main02_ricn_04.png);
}

.architecture_wrap>ul li>ul li:first-child {
  margin-bottom: 15px;

}

.architecture_wrap span {
  display: block;
}

.architecture_wrap span a {
  display: inline-block;
  background-color: transparent;
  padding: 10px 50px;
  border-radius: 30px;
  border: 1px solid;
  font-size: 13px;
}

.architecture_wrap span a+a {
  margin-left: 10px;
}

.architecture_wrap>p {
  margin-top: 30px;
}

/* ---------------------------- */
/* 건축물대장 끝 */
/* ---------------------------- */

/* ---------------------------- */
/* 사이버통합협의시스템 외 슬라이드 부분 시작 */
/* ---------------------------- */

#collusion {
  padding-top: 0;
  position: relative;
  background-color: #2d78de;
}

.slide1_wrap {
  height: 100%;
  background-color: #2d78de;

}

/* slide 첫번째  */
.slide1_wrap .slide1 {
  padding-top: 15%;
  width: 55%;
  height: 60%;
  margin: 0 auto;
  background-image: url(../img/collusion_slide/main03_vis_cybersys.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 110% center;
  box-sizing: content-box;

}

.slide1_wrap .slide1 .title {
  box-sizing: border-box;
  margin-left: 50px;
}

.slide1_wrap .slide1 .title a {
  padding: 15px 20px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 40px;
  color: white;
  transition: all 0.2s;
}

.slide1_wrap .slide1 .title a:hover {
  background-color: black;
}

.slide1_wrap .slide1 p {
  color: white;
  font-size: 1.2em;

}

.slide1_wrap .slide1 p:last-of-type {
  font-size: 12px;
  line-height: 1.3;
}

.slide1_wrap .slide1 h2 {
  margin: 10px 0 30px;
  font-size: 3em;
  color: white;
  font-weight: bold;
}

.slide1_wrap .slide1 h2 strong {
  color: #6abff2;
}

.slide1_wrap .slide1 a {}

/* prev next버튼 */
.arrowbtn {
  display: block;
  position: absolute;
  width: 100%;
  top: 57%;
}

.arrowbtn a {
  display: inine-block;
  padding: 30px;
  background-image: url(../img/collusion_slide/main_slide_arrow.png);
  text-indent: -99999px;
}

.arrowbtn a:first-child {
  float: left;
  margin-left: 200px;
  background-position: 0 0;
}

.arrowbtn a:last-child {
  float: right;
  margin-right: 200px;
  background-position: -99px 0;
}

/* 슬라이드 하단버튼 */
.list_btn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 50%;
  left: 25%;
  bottom: 10%;
  text-align: center;

}

.list_btn li {
  border-top: 2px solid white;
  width: calc(100%/3);
}

.list_btn li+li {
  margin-left: 20px;
}

.list_btn li a {
  display: block;
  color: white;
  padding: 20px;
}

/* ---------------------------- */
/* 사이버통합협의시스템 외 슬라이드 부분 끝 */
/* ---------------------------- */

/* ---------------------------- */
/* 유용한서비스 시작*/
/* ---------------------------- */
#services {
  text-align: center;
}

/* 아이콘리스트부분 */
.sevices_iconslist {
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  box-sizing: border-box;
}

.sevices_iconslist li {
  float: left;
  width: 15%;
  height: 130px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top center;

  position: relative;
}

.sevices_iconslist li:nth-child(1) {

  background-image: url(../img/main/event/main04_sev_icn_01.png);
}

.sevices_iconslist li:nth-child(2) {

  background-image: url(../img/main/event/main04_sev_icn_02.png);
}

.sevices_iconslist li:nth-child(3) {

  background-image: url(../img/main/event/main04_sev_icn_03.png);
}

.sevices_iconslist li:nth-child(4) {

  background-image: url(../img/main/event/main04_sev_icn_04.png);
}

.sevices_iconslist li:nth-child(5) {

  background-image: url(../img/main/event/main04_sev_icn_05.png);
}

.sevices_iconslist li:nth-child(6) {

  background-image: url(../img/main/event/main04_sev_icn_06.png);
}

.sevices_iconslist li+li {
  margin-left: 2%;
}

.sevices_iconslist li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 2px dotted #c1c4c7;
  left: -10px;

}

.sevices_iconslist li:first-child::before {
  display: none;
}


.sevices_iconslist li:hover a {
  text-decoration: underline;
  color: #000;
}

.sevices_iconslist li a {
  display: block;
  padding-top: 90px;
  font-size: 13px;
  line-height: 1.3;
  color: #535961;
}

/* ---------------------------- */
/* 서비스게시판리스트부분 */
/* ---------------------------- */

/* ---------------------------- */
/* 공통 */
/* ---------------------------- */
.service_noticewrap {
  max-width: 1200px;
  margin: 0 auto;
}

.service_noticewrap ul {
  width: 100%;
  overflow: hidden;
}

.service_noticewrap .service_noticelist li {
  float: left;
  text-align: left;
  width: 100%;
}

.service_noticewrap .service_noticelist ul>li {
  margin-bottom: 20px;
}

.service_noticewrap .service_noticelist:nth-of-type(1)>li:not(.eventslide) {
  padding: 25px;
  box-sizing: border-box;

}

.service_noticewrap .service_noticelist:nth-of-type(1)>li:not(.eventslide)>h3 {
  font-weight: 900;
  font-size: 20px;
  position: relative;
}

.service_noticewrap .service_noticelist li h3 {
  margin-bottom: 20px;
}


.service_noticewrap .service_noticelist li:not(li:first-child)>h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 10px;
  height: 2px;
  background-color: crimson;
  transition: all 0.3s;

}

.service_noticewrap .service_noticelist li:not(li:first-child):hover>h3::after {
  width: 35px;
  transition: all 0.5s;
}

.service_noticewrap .service_noticelist a {
  display: inline-block;
}

.service_noticewrap .service_noticelist>li {
  width: 32%;
  height: 280px;
  position: relative;
}

.service_noticewrap .service_noticelist>li+li {
  margin-left: 2%;
}

.service_noticewrap .service_noticelist:nth-of-type(1)>li:not(.eventslide):hover .more {
  transform: rotate(90deg);

}

.more {
  position: absolute;
  top: 24px;
  right: 20px;
  background-image: url(../img/main/event/icn_plusl.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}

/* ---------------------------- */
/* eventslide 부분시작 */
/* ---------------------------- */
.service_noticewrap .service_noticelist .eventslide {
  position: relative;

}

.service_noticewrap .service_noticelist .eventslide>a {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../img/main/event/raymond-pang-5zv1aiqu0YA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 10px;
}

.service_noticewrap .service_noticelist .eventslide>a p {
  margin-top: 20px;

}

.service_noticewrap .service_noticelist .eventslide>a span {
  padding: 10px 25px;
  display: inline-block;
  background: #000;
  border-radius: 18px;
  margin: 50px 0;
  font-size: 12px;
}

.service_noticewrap .service_noticelist .eventslide a h3 {
  padding: 50px 0 20px;
  box-sizing: border-box;
}

/* ---------------------------- */
/* eventslide부분 num  */
/* ---------------------------- */
.service_noticewrap .service_noticelist .num {
  position: absolute;
}

.service_noticewrap .service_noticelist .num li {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.service_noticewrap .service_noticelist .num li a {
  line-height: 20px;
  font-size: 10px;
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.service_noticewrap .service_noticelist .num li:hover a {
  background-color: #000;
  color: #fff;
}

/* ---------------------------- */
/* 공지사항 */
/* ---------------------------- */
.service_noticewrap .service_noticelist .notice {

  background-color: #ecf3f4;
}

.service_noticewrap .service_noticelist .notice h3 {
  text-align: left;
}

.service_noticewrap .service_noticelist .notice ul li a {
  font-size: 15px;
  font-weight: bold;
  color: #262626;
}

.service_noticewrap .service_noticelist .notice ul li time {
  font-size: 14px;
  color: darkgray;
}

/* ---------------------------- */
/* error */
/* ---------------------------- */
.service_noticewrap .service_noticelist .error {

  background-color: #d4d6d7;
}

.service_noticewrap .service_noticelist .error h3 {
  text-align: left;
}

.service_noticewrap .service_noticelist .error ul li a {
  font-size: 15px;
  font-weight: bold;
  color: #6c6a6a;
}

.service_noticewrap .service_noticelist .error ul li span {
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 5px 10px;
  float: right;
}

.service_noticewrap .service_noticelist .error ul li .con_fail {
  background-color: rgb(187, 6, 6);
}

.service_noticewrap .service_noticelist .error ul li .restoration {
  background-color: rgb(5, 60, 179);
}

/* ---------------------------- */
/* 자주묻는 질문 */
/* ---------------------------- */
#services .QA {
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  height: 60px;
  box-sizing: border-box;
}

#services .QA fieldset {
  height: 100%;
  box-sizing: border-box;
}

#services .QA fieldset legend {
  float: left;
  height: 100%;
  line-height: 60px;
  text-align: right;
  padding-left: 50px;
  font-size: 18px;
  font-weight: bold;
}

#services .QA fieldset input {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid;
  float: left;
  margin-left: 30px;
}

#services .QA fieldset input[type="text"] {
  font-size: 18px;
  padding-left: 10px;
}

#services .QA fieldset button {
  float: left;
  width: 60px;
  height: 100%;
  border: 0;
  background-color: #262626;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
}

#services .QA fieldset ul {
  float: right;
  height: 100%;
  width: 400px;
}

#services .QA fieldset ul li {
  float: left;
  height: 100%;
  width: calc(100%/2 - 10px);
  margin-right: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #cecdcd;
}

#services .QA fieldset ul li:first-child a {
  color: #082ec4;
  font-weight: bolder;
}

#services .QA fieldset ul li:last-child a {
  font-weight: bolder;
  color: #2499c8;
}

#services .QA fieldset ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  letter-spacing: -1px;
  color: blue;
}

#services .QA fieldset ul li a p {
  font-size: 11px;
  margin-top: 5px;

  color: #535961;
}

/* ---------------------------- */
/* 유용한서비스 끝*/
/* ---------------------------- */
/* 하단 관공서 슬라이드메뉴 시작*/
/* ---------------------------- */
#company_slidebanner {
  position: relative;
  padding-top: 0;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 50px;
}

#company_slidebanner ul {
  height: 50px;
  overflow: hidden;
}

#company_slidebanner ul li {
  text-align: center;
  float: left;
  width: calc(100%/7);
  box-sizing: border-box;

}

#company_slidebanner ul li a {
  display: block;
  height: 100%;
}

#company_slidebanner ul li img {
  width: 80%;

}

#company_slidebanner span {
  position: absolute;
  top:calc(50% - 33px);
  left: 50%;
}

#company_slidebanner span a {}

/* ---------------------------- */
/* 하단 관공서 슬라이드메뉴 끝*/
/* ---------------------------- */
/* 컨텐츠영역 끝*/
/* ---------------------------- */


/* ---------------------------- */
/* footer시작*/
/* ---------------------------- */
footer {
  width: 100%;
  background-color: #e8e3e3;
  font-size: 14px;
  padding-bottom: 40px;
}

/* ---------------------------- */
/* footer_top영역 */
/* ---------------------------- */

.footer_wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.footer_wrap .footer_top {
  overflow: hidden;
}

.footer_wrap .footer_top ul {
  text-align: center;
  overflow: hidden;
}

.footer_wrap .footer_top ul:first-child {
  float: left;
}

.footer_wrap .footer_top ul:last-child {
  float: right;
  box-sizing: border-box;
}

.footer_wrap .footer_top ul li {
  float: left;
  line-height: 76px;
  margin-right: 20px;
}

.footer_wrap .footer_top ul:last-child li {
  background-color: #fff;
  box-sizing: border-box;
  margin-right: 14px;
  border: 1px solid #ccc7c7;
  margin-top: 17px;
  padding: 1px 7px;
}

.footer_wrap .footer_top ul:last-child li a {
  height: 100%;
  line-height: 40px;
  /*! background-color: #fff; */
  width: 100%;
}


.footer_wrap .footer_top ul li a {
  display: block;
  color: #262626;
}

/* ---------------------------- */
/* footer_top끝 */
/* ---------------------------- */
/* ---------------------------- */
/* footer_bottom 시작 */
/* ---------------------------- */
.footer_bottom {
  width: 100%;
  overflow: hidden;
}

.footer_bottom .footer_info {
  float: left;
  height: 80px;
}

.footer_bottom .footer_info>* {
  display: inline-block;
}

.footer_bottom .footer_info .logo {
  line-height: 80px;
  width: 135px;
  text-align: center;
}

.footer_bottom .footer_info .logo a {
  display: block;
  background-image: url(../img/main/footer/molit_logo.svg);
  background-repeat: no-repeat;
  text-indent: -99999px;
  background-position: center;
}

.footer_bottom .footer_info address {
  vertical-align: top;
  line-height: 1.5;
  margin-top: 20px;
  margin-left: 20px;
  color: #262626;
}

.footer_bottom .callcenter {
  float: right;
  padding-top: 25px;
  line-height: 1.5;
}

.footer_bottom .callcenter p span {
  color: #2d78de;
  font-weight: bold;
}

.footer_bottom .callcenter p:first-child {
  color: #262626;
}

.footer_bottom .callcenter p:last-child {
  text-align: right;
  color: #6c6a6a;
}

/* ---------------------------- */
/* footer_bottom 끝 */
/* ---------------------------- */

/* ---------------------------- */
/* footer끝 */
/* ---------------------------- */