@charset "utf-8";

#title {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../img/main//title/clyde-rs-4XbZCfU2Uoo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    background-attachment: fixed;
}