@charset "utf-8";

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: block
}

main {
    width: 100%;
    height: 100%;
}

img {
    display: block
}

section {
    padding-top: 80px;
    width: 100%;
    height: 100%;
}