@charset "utf-8";

:root {
    /* color */
    --font_b: #FF3901;
    --bg: #fe4d2e;
    --w: #fff;
    --b: #000;
    /* font */
    --kor: "Nanum Gothic";
    --eng: 'MuseoModerno', cursive;
}


/* HEADER */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid var(--font_b);
    box-sizing: border-box;
}

header.bg {
    background-color: var(--bg);
    border-bottom: 1px solid var(--w);
    box-sizing: border-box;

}

header ul {
    display: flex;
    justify-content: flex-end;
}

header ul li {
    position: relative;
}

header ul li:last-child {
    margin-left: 1.3em;

}

header ul li:last-child::before {
    content: '/';
    color: var(--font_b);
    position: absolute;
    top: 0;
    left: -.5em;
    font-weight: bolder;
    font-size: 2em;

}


header ul li a {
    font-family: var(--eng);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    transition: all .3s;
    padding: 0 .5em;
    box-sizing: border-box;
}

header ul li a.change {
    color: var(--w)
}

header ul li:hover a.change {
    color: var(--font_b)
}

header ul li:hover a::after {
    width: 100%;
}

header ul li:hover a {
    color: #fff;
}

header ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    top: 25%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--bg);
    z-index: -1;
    transition: all .3s;
}

header ul li a.change::after {

    background-color: var(--w);
}

header ul li.change::before {
    color: var(--w);

}

/* PORFOLIO */
#portfolio {
    height: auto;

}

#portfolio ul {
    padding-top: 50px;
}

#portfolio ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#portfolio ul li>* {
    width: calc(70%/2);
}

#portfolio ul li+li {
    padding-top: 5em;
}

#portfolio ul li a figure {
    border: 1px solid var(--bg);
    border-right: none;
}

#portfolio ul li a figure img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#portfolio ul li .content {
    border: 1px solid var(--bg);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

/* ABOUT */
#about {
    height: 100vh;
}

#about .story {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about .story:nth-child(1) {
    background-color: var(--bg);
}

/* profile */
#about .story>ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

#about .story>ul>li {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#about .story ul>li:first-child {
    width: 40%;
}

#about .story ul li figure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#about .story ul li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about .story ul li.profile {
    display: flex;
}

#about .story ul li.profile div>* {
    color: #fff;
}

#about .story ul li.profile div {
    width: 100%;
    height: 100%;
    background-color: var(--w);
    border: 1px solid var(--bg);
    box-sizing: border-box;
}

#about .story ul li.profile div h1 {
    background-color: var(--bg);
    font-size: 3em;
    vertical-align: top;
    color: var(--w);
    line-height: 1.3em;
    border: 1px solid var(--w);
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#about .story ul li.profile div ul {
    height: 100%;
}

#about .story ul li.profile div ul li {
    font-size: 2em;
    letter-spacing: -1.5px;
    width: 100%;
    line-height: 1.5em;
    color: #9b2d01f3;
    font-family: var(--kor);
}
/* skill */
#about .story ul li.profile div.skill ul li {
    color: var(--b)
}

#about .story ul li.profile div.skill ul li span {
    display:block;
    width: 0%;
    height: 8px;
    background-color: #ec780b;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-delay:1.5s;
}
#about .story ul li.profile div.skill ul li:nth-of-type(1) span{
    
    max-width: 90%;
}
#about .story ul li.profile div.skill ul li:nth-of-type(2) span{
    
    max-width: 60%;
}
#about .story ul li.profile div.skill ul li:nth-of-type(3) span{
    
    max-width: 60%;
}
@keyframes Gauge {

    0%{width:0}
    100%{width: 100%;}

}

/* footer */
footer {
    text-align: center;
}

footer p {
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 1.5em;
}

/* 반응형 */
/* pc */
@media all and (max-width:1024px) {

    header ul {
        justify-content: center;
    }

    /* nav 글자크기 */

    header ul li a {
        transform: scale(0.8);
    }

    p {
        transform: scale(0.8);
    }

    /* 포트폴리오 */
    #portfolio ul {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        box-sizing: border-box;
    }

    #portfolio ul li {
        width: 100%;
        position: relative;

    }

    #portfolio ul li a {
        width: 100%;
    }

    #portfolio ul li a figure {
        border: 1px solid var(--bg);
    }

    #portfolio ul li+li {
        padding-top: 0;
    }

    #portfolio ul li .content {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
    }

    #portfolio ul li:hover .content {
        display: flex;
    }
}

/* 탭블릿 */
@media all and (max-width:769px) {

    /* 포트폴리오 */
    #portfolio ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #portfolio ul li {
        width: 100%;
        position: relative;

    }

    #portfolio ul li a {
        width: 100%;
    }

    #portfolio ul li+li {
        margin-top: 2em;
    }

    #about {
        height: 100%;
    }

    #about .story ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about .story>ul>li {
        width: 70%;
        height: 400px;
    }

    #about .story ul li div {
        height: 50%;
    }
}