@charset "utf-8";

:root {
    /* color */
    --font_b: #FF3901;
    --bg: #fe4d2e;
    --w: #fff;
    --b: #000;
    /* font */
    --kor: "Nanum Gothic";
    --eng: 'MuseoModerno', cursive;
}


/* HEADER */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid var(--font_b);
    box-sizing: border-box;
}

header.bg {
    background-color: var(--bg);
    border-bottom: 1px solid var(--w);
    box-sizing: border-box;

}

header ul {
    display: flex;
    justify-content: flex-end;
}

header ul li {
    position: relative;
}

header ul li:last-child {
    margin-left: 1.3em;

}

header ul li:last-child::before {
    content: '/';
    color: var(--font_b);
    position: absolute;
    top: 0;
    left: -.5em;
    font-weight: bolder;
    font-size: 2em;

}


header ul li a {
    font-family: var(--eng);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    transition: all .3s;
    padding: 0 .5em;
    box-sizing: border-box;
}

header ul li a.change {
    color: var(--w)
}

header ul li:hover a.change {
    color: var(--font_b)
}

header ul li:hover a::after {
    width: 100%;
}

header ul li:hover a {
    color: #fff;
}

header ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 50%;
    top: 25%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--bg);
    z-index: -1;
    transition: all .3s;
}

header ul li a.change::after {

    background-color: var(--w);
}

/* PORFOLIO */
#portfolio {
    height: auto;

}

#portfolio ul {}

#portfolio ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

#portfolio ul li>* {
    width: calc(70%/2);
}

#portfolio ul li+li {
    padding-top: 5em;
}

#portfolio ul li a figure {}

#portfolio ul li a figure img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#portfolio ul li .content {
    background-color: blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

/* ABOUT */
#about {
    height: 100vh;
}

#about .story {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about .story:nth-child(1) {
    background-color: var(--bg);
}

/* profile */
#about .story .profile {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

#about .story .profile li {
    width: calc(100%/2);
    max-width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#about .story .profile li figure {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#about .story .profile li figure img {
    object-fit: fill;
    object-position: center;
}

#about .story .profile li figure figcaption {
    width: 100%;
    height: 20px;
}

#about .story .profile li figure figcaption p {

    text-align: left;
    color: #fff;
    font-size: 2em
}

#about .story .profile li div {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* footer */
footer {
    text-align: center;
}

footer p {
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 1.5em;
}

/* 반응형 */
/* pc */
@media all and (max-width:1024px) {

    header ul {
        justify-content: center;
    }

    /* nav 글자크기 */

    header ul li a {
        transform: scale(0.8);
    }

    p {
        transform: scale(0.8);
    }

    /* 포트폴리오 */
    #portfolio ul {
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
        box-sizing: border-box;
    }

    #portfolio ul li {
        width: 50%;
        position: relative;

    }

    #portfolio ul li a {
        width: 100%;
    }

    #portfolio ul li+li {
        padding-top: 0;
    }

    #portfolio ul li .content {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
    }

    #portfolio ul li:hover .content {
        display: flex;
    }
}

/* 탭블릿 */
@media all and (max-width:769px) {

    /* 포트폴리오 */
    #portfolio ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    #portfolio ul li {
        width: 50%;
        position: relative;

    }

    #portfolio ul li a {
        width: 100%;
    }

    #portfolio ul li+li {
        margin-top: 2em;
    }

    #about {
        height: 100%;
    }

    #about .story .profile {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about .story .profile li {
        width: 70%;
        height: 400px;
    }
    #about .story .profile lif{
        margin-bottom: 5em;
    }
    #about .story .profile li div {
        height: 50%;
    }
}