@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    position: relative
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: block;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

main {
    width: 100%;
}

section {
    padding: 150px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: content-box;
}

section .wrap {
    line-height: 1.5;
}

section .wrap>p {
    max-width: 500px;
    margin: 0 auto;
}

section .wrap ul {
    display: flex;
    justify-content: center;
}


section .wrap ul.list {

    flex-wrap: wrap;
}

ion-icon {
    font-size: 1.5em;
    display: block;
}

section .wrap ul li.ion_flex {
    max-width: calc(100%/3 - 2em);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
}

section .wrap ul li h4 {
    font-weight: 600;
    line-height: 3;
    transition: 0.4s;
}

section .wrap ul li:hover h4 {
    background: linear-gradient(-45deg, #ffffff 0%, #8a2be2 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .wrap ul li ion-icon {
    margin: 0 auto;
    font-size: 3em;
    color: #8a2be2;
}

section .wrap ul li:hover ion-icon {
    animation: jumping .7s infinite;
}

@keyframes jumping {
    0% {
        margin-bottom: 10px;
    }

    50% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: 10px;
    }
}
    
.sns {
    display: flex;
    margin-top: 2em;
    gap: 5px;
  }
  
  .sns li {
    margin-right: .5em;
    line-height: 3em;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 5px;
    box-sizing: border-box;
  }
