@charset "UTF-8";

html {
    font-size: 16px;
}

body {
    position: relative
}

.wrap {
    max-width: 1200px;
    margin: 0 auto
}

a {
    display: block;
}

h3 {
    font-size: 2em;
    font-weight: 700;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
}

button {
    cursor: pointer
}

main {
    width: 100%;
    height: 100%;
}

section {
    margin-top: 150px;
    width: 100%;
    height: 100%;
}
ion-icon {
    font-size: 1.5em;
    display: block;
  }