@charset "UTF-8";

/* 햄버거 */
.ham {
  display: block;
  position: fixed;
  width: 20px;
  height: 20px;
  top:2em;
  right: 1.5em;
  display:none;
}

.ham>span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  z-index: 3;
  top:0;
  transition: all 1s;
  display: block;
  position: absolute;
}

.ham>span::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 8px;
  z-index: 2;
}

.ham>span::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 1em;
  z-index: 2;
}