@charset "UTF-8";
/* 햄버거 */
.ham{
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: 3;
  right: 1em;
  top: 2.5em;
  transition: all 1s;
  display: none;
}
.ham::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  top: -8px;
  z-index: 2;
}
.ham::after{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  top: 6px;
  z-index: 2;
}
