@charset "UTF-8";

/* =============== */
/* HEADER */
/* =============== */
header {
  z-index: 999;
  width: 100%;
  text-transform: capitalize;
  line-height: 5em;
  position: fixed;
  transition: all 0.5s;
}

header.header_bg {
  background-color: #000;
  z-index: 99999;
  transition: all 0.5s;
}

header .wrap {
  display: flex;
  justify-content: space-between;
}

header .logo a {
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding-left: 1em;
}

header nav .gnb {
  display: flex;
}

header nav .gnb li {
  margin-right: 2em;
  position: relative;
}

header nav .gnb li a {
  color: #fff;
  font-family: 'Nunito', sans-serif;

}

.click {
  font-weight: 800;
  transition: all .5s;
  display: inline;
  box-sizing: border-box;
  color: #8a2be2 !important;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 0 1em;
}

header nav .gnb li span {
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: 20px;
  left: 0;
  transition: all .3s;
}

/* =============== */
/* TITLE */
/* =============== */

.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-attachment: fixed;
  background-image: url(../img/title/tim-bogdanov-4uojMEdcwI8-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 2;
  color: #fff;

}

.title h2 {
  font-size: 2rem;
  text-align: center;

}

.title>* {
  z-index: 999;
}

.title h2 strong {
  font-weight: 900;
  font-size: 3.5rem;
  display: block;

}

.title p {
  font-size: 1rem;
  display: block;
  max-width: 500px;
  color: white !important;
}

.title button {
  background-color: rgb(255, 255, 255, 0);
  border: 2px solid #fff;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  margin-top: 1em;
  color: #fff;
}

.title .scrolldown {
  position: absolute;
  bottom: 3em;
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid;
  border-radius: 20px;
  animation: updown 1.5s 1.5s infinite;
}

.title .scrolldown::after {
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  left: calc(100%/2 - 1.5px);
}

.title .scrolldown a {
  width: 100%;
  height: 100%;
}


@keyframes updown {
  0% {
    bottom: 3em
  }

  25% {
    bottom: 4em
  }

  35% {
    bottom: 1em
  }

  50% {
    bottom: 1.8em
  }

  60% {
    bottom: 1em
  }

  80% {
    bottom: 1.3em
  }

  100% {
    bottom: 1em
  }

}

.filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

/* =============== */
/* MAIN */
/* =============== */


/* about me */

section#about {
  height: auto;
}

section#about .block_center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

section#about .block_center>* {
  max-width: 50%;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}


section#about .block_center figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}


section#about .block_center .right h4 {

  line-height: 3;
}

section#about .block_center .right h4 span {
  font-weight: 900;
}

section#about .block_center .right p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  text-align: left;
}




/* service */
section#sevice {
  text-align: center;
  background-color: #eeeeee;
  line-height: 1.5;
  padding-top: 100px;
}

section#sevice .wrap>p {
  max-width: 500px;
  margin: 0 auto;
}

section#sevice .wrap ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}




/* freelancer */

section#freelancer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  margin-top: 0;
}

section#freelancer button {
  height: 50px;
  width: 150px;
  margin-top: 2em;
  background-color: rgb(138, 43, 226, 0);
  color: #8a2be2;
  font-size: 1em;
  border: 3px solid;
  border-radius: 10px;
  text-transform: uppercase;

}

/* client */
section#client {
  margin-top: 0;
  background-color: #eeeeee;
  line-height: 2;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#client>p {
  max-width: 500px;
}

section#client>p>strong {
  font-weight: 600;
  color: black;
}

section#client figure {
  margin-top: 50px;
}

section#client figure img {
  border-radius: 50%;
}

/*portfolio */
section#portfolio {
  text-align: center;
}

section#portfolio .wrap p {
  max-width: 500px;
  margin: 0 auto;
}

section#portfolio .wrap ul.listMenu {
  max-width: 500px;
  margin: 50px auto;
  justify-content: space-around;

}

section#portfolio .wrap ul.listMenu li a {

  transition: all .3s;
  padding: 10px 20px;
  box-sizing: border-box;
}

.popup_img {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  display: table;
  transition: all .3s;
}

.popup_img img {
  max-width: 80%;
  object-fit: cover;
  object-position: center;
  margin: auto;
  position: relative;
}

.popup_wrap {
  width: 100%;
display: table-cell;
vertical-align: middle;
}

button.close_btn {
  width: 50px;
  height: 50px;
  top: 18%;
  right: 25%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  font-weight: 900;
  border: 1px solid;
  transition: all .3s;
  box-sizing: border-box;
  position: absolute;
}

button.close_btn:hover {
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 1);


}

section#portfolio .wrap ul.listMenu li:hover a {
  background-color: #8a2be2;
  border-radius: 25px;
  color: white;
  box-sizing: border-box;
  font-weight: 800;
}

section#portfolio .wrap ul.list li {
  max-width: calc(100%/3 - 2em);
  margin: 1em;
  position: relative;
}

section#portfolio .wrap ul.list li a {
  width: 100%;
  height: 100%;
}

section#portfolio .wrap ul.list li a img {
  width: 100%;
  object-fit: fill;
}

section#portfolio .wrap ul.list li:hover .blind {

  opacity: 0.8;
}

.blind {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.blind h5 {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.5;
}

/* blog */
section#blog {
  height: auto;
  text-align: center;
  background-color: #eeeeee;
}

section#blog ul {
  margin-top: 50px;
}

section#blog ul li {
  max-width: calc(100%/3 - 2em);
  margin-right: 1em;
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
}

section#blog ul li>* {
  text-align: left;
}

section#blog ul li p>a {
  display: inline-block;
  font-weight: 800;
  padding-left: 10px;
}

section#blog ul li p:nth-of-type(1) {
  line-height: 4;
}

section#blog ul li figure {
  width: 100%;
}

section#blog ul li figure img {
  width: 100%;
  object-fit: fill;
}

section#blog ul li span>a {
  color: #03033f;
  font-weight: 800;
}

/* contact */

section#contact {
  height: auto;
}

section#contact .wrap ul li {
  width: 100%;
  border: none;
}

section#contact .wrap ul li h4 {
  font-size: 1.2em;
  font-weight: 600;

}

section#contact fieldset {
  max-width: 100%;
  text-align: right;
}

section#contact fieldset div {
  display: flex;
  margin-bottom: 1em;
}

section#contact fieldset div:nth-of-type(1) input {
  max-width: 50%;
  margin-right: 1em;
}

section#contact fieldset div:nth-of-type(1) input:last-child {
  margin-right: 0;
}

section#contact fieldset div input {
  width: 100%;
  height: 30px;
  outline: 2px solid #eeeeee;
  border: none;
  font-size: 1.5em;
  padding: 0 0.5em;
}

section#contact fieldset div textarea {
  width: 100%;
  border: 2px solid #eeeeee;
  font-size: 1.5em;
  padding: 0 0.5em;
}

section#contact button {
  width: 200px;
  height: 50px;
  background-color: #8a2be2;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  border: none;
}


/* top btn */

.top {
  bottom: 1em;
  right: 1em;
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: #8a2be2;
}

.top a {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top a ion-icon {
  font-size: 1.5em;
}

/* =============== */
/* FOOTER */
/* =============== */

footer {
  width: 100%;
  text-align: center;
  height: 200px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


footer ul li a {
  color: #fff
}