@charset "UTF-8";

/* =============== */
/* HEADER */
/* =============== */
header {
  z-index: 999;
  width: 100%;
  text-transform: capitalize;
  line-height: 5em;
  position: fixed;
}

header .wrap {
  display: flex;
  justify-content: space-between;
}

header .logo {}

header .logo a {
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

header nav .gnb {
  display: flex;
}

header nav .gnb li {
  margin-right: 2em;
}

header nav .gnb li a {
  color: #fff;
  font-family: 'Nunito', sans-serif;
}


/* =============== */
/* TITLE */
/* =============== */

.title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-attachment: fixed;
  background-image: url(../img/title/tim-bogdanov-4uojMEdcwI8-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 2;
  color: #fff;

}

.title h2 {
  font-size: 2rem;
  text-align: center;

}

.title>* {
  z-index: 999;
}

.title h2 strong {
  font-weight: 900;
  font-size: 3.5rem;
  display: block;

}

.title p {
  font-size: 1rem;
  display: block;
  max-width: 500px;
}

.title button {
  background-color: rgb(255, 255, 255, 0);
  border: 2px solid #fff;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  margin-top: 1em;
  color: #fff;
}

.title .scrolldown {
  position: absolute;
  bottom:3em;
  display: block;
  width: 30px;
  height: 50px;
  border: 2px solid;
  border-radius: 20px;
  animation:updown 1.5s 1.5s  infinite ;
}

.title .scrolldown::after {
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  position: absolute;
  bottom: 5px;
  left: calc(100%/2 - 1.5px);
}

.title .scrolldown a {
  width: 100%;
  height: 100%;
}


@keyframes updown{
  0%{bottom:3em}
  25%{bottom:4em}
  35%{bottom:1em}
  50%{bottom:1.8em}
  60%{bottom:1em}
  80%{bottom:1.3em}
  100%{bottom:1em}

}
.filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

/* =============== */
/* MAIN */
/* =============== */


/* about me */

section#about {}

section#about .block_center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

section#about .block_center>* {
  max-width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

section#about .block_center figure {}

section#about .block_center figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

section#about .block_center .right {}

section#about .block_center .right h3 {}

section#about .block_center .right h4 {

  line-height: 3;
}

section#about .block_center .right h4 span {
  font-weight: 900;
}

section#about .block_center .right p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

section#about .block_center .right .sns {
  display: flex;
  margin-top: 2em;
  gap: 5px;
}

section#about .block_center .right .sns li {
  margin-right: .5em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid gray;
  padding: 5px;
  box-sizing: border-box;
}

section#about .block_center .right .sns li a {}

section#about .block_center .right .sns li a span {}


/* service */



/* =============== */
/* FOOTER */
/* =============== */