@charset "utf-8";

body {
    position: relative;
}

hr.hide {
    border: 0;
}

main {
    width: 100%;
    height: 100vh;
}

section {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

h3 {
    font-size: 2.4em;
    font-family: var(--font1);
    color: var(--text_h3);
    font-weight: 800;
}

h4 {
    font-size: 1.3em;
    font-family: var(--font1);
    font-weight: 500;
}

p {
    font-family: var(--font3);
    color: var(--text_p)
}

/* 각 section별 wrap부분 */
section>div {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

button {
    border: none;
    font-family: var(--text-3);
    font-weight: 900;
    cursor: pointer;
}