:root {
    /* color */
    --white: #fff;
    --black: #000;
    --p_basic: #00bfa5;
    --p_dark: #008e76;
    --p_light: #5df2d6;
    --s_basic: #66bb6a;
    --s_dark: #338a3e;
    --s_light: #98ee99;
    --text_bg: #f8f0f0;
    --text_h3: #33691e;
    --text_p: #707070;
    --text_h: #e7d003;
    /* font */
    --font1: "Brygada 1918";
    --font2: "Roboto";
    --font3: "Sans";
}

/* =============================================== */
/* 헤더 */
/* =============================================== */
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}

header .header_wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header .header_wrap .logo a {
    font-family: var(--font3);
    font-weight: bolder;
    color: var(--white);
}

header .header_wrap .gnb {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
}

header .header_wrap .gnb li {}

header .header_wrap .gnb li a {
    font-family: var(--font1);
    color: var(--white);
}

/* =============================================== */
/* .title 영역 */
/* =============================================== */

.title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: pre-line;
    text-align: center;
    position: absolute;
    top: 0;

    background-image: url(../img/title/todd-kent-178j8tJrNlc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.title h2 {
    font-size: 3em;
    color: var(--white);
    font-family: var(--font1);
    font-weight: bold;
    z-index: 999;
}

.title p {
    margin-top: 20px;
    font-size: 1em;
    color: var(--white);
    z-index: 999;
}

/* =============================================== */
/* #titleopacity 영역 */
/* =============================================== */
#title_opactie {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.596);
    position: relative;
    z-index: 2;
    top: 0;
}

/* =============================================== */
/* #how_work 영역 */
/* =============================================== */
#how_work {
    height: auto;
    background-color: var(--text_bg);
}

#how_work .how_work_wrap {
    width: 1000px;
    margin: 0 auto;
}

#how_work h3 {
    padding: 30px;
    text-align: center;

}

#how_work ul {
    display: flex;
    justify-content: space-around;

}

#how_work ul li {
    max-width: calc(100%/3);
    height: 250px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 50px 0;
    box-sizing: border-box;
    position: relative;
}


#how_work ul li h4 {
    color: var(--p_dark);

}

#how_work ion-icon {
    width: 35%;
    height: 35%;
    position: absolute;
    top: 15%;
    left: calc(50% - 65px);
    color: var(--text_h3);
}

/* =============================================== */
/* #properties 영역 */
/* =============================================== */
#properties {}

#properties .properties_wrap {}

#properties .properties_wrap>button.more {
    display: block;
    margin: 50px auto;
    height: 50px;
    padding: 0 30px;
}

#properties .properties_title {
    display: flex;
    justify-content: space-between;
}

#properties .properties_title h3 {}

#properties .properties_title span {}

#properties .properties_title span button {
    background-color: var(--white);
    font-size: 1.2em;
    transition: all .2s;
}

#properties .properties_title span button+button {
    margin-left: 20px;
    position: relative;
}

#properties .properties_title span button:hover {
    text-decoration: underline;
    color: var(--s_dark);
}

#properties .proper_list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 500px;
}

#properties .proper_list>li {
    width: calc(100%/4);
    height: 400px;
    margin-left: 3%;
}

#properties .proper_list>li:hover img {
    object-position: -110px;
    height: 102%;

}



#properties .proper_list>li a {
    width: 100%;
    display: inline-block;
    height: 350px;
    overflow: hidden;
}

#properties .proper_list>li a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    object-position: -160px;

}

#properties .proper_list li>.detail {
    margin: 0 20px;
}

#properties .proper_list li>.detail strong {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

#properties .proper_list li>.detail p {
    font-size: 0.9em;
    letter-spacing: -0.5px;
}

#properties .proper_list li>.detail ul {
    display: flex;
    justify-content: space-between;
}

#properties .proper_list li>.detail ul li {
    position: relative;
    margin: 20px 0;
}

#properties .proper_list li>.detail ul>li+li::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--text_p);
    left: -50%;
    top: 0;

}

/* =============================================== */
/* #about 영역 */
/* =============================================== */
#about {}

#about .about_wrap {
    display: flex;
    justify-content: space-between;
}

#about .about_wrap figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 10% 0 0;
    box-sizing: border-box;
}

#about .about_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about .about_wrap figure span {
    position: absolute;
    bottom: 0;
    right: calc(50% - 45px);
}

#about .about_wrap figure span button {
    padding: 30px;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid;
    transition: all .2s;
    box-sizing: border-box;
}

#about .about_wrap figure span button:hover {
    color: #fff;
    background-color: var(--p_basic);
}

#about .about_wrap figure span button+button {
    border-left: 2px solid rgba(255, 255, 255, 0);


}

#about .about_wrap figure span button+button:hover {
    border-left: 2px solid;
    box-sizing: border-box;
}

#about .about_wrap>div {
    white-space: pre-line;
    width: 100%;
}

#about .about_wrap>div p {
    line-height: 2;
}

#about .about_wrap>div p:nth-of-type(1) {
    font-size: 1.3em;
}

#about .about_wrap>div p+p {
    line-height: 1.5;

}

#about .about_wrap>div ul li {
    color: var(--text_p);
    font-size: 1.1em;
}

#about .about_wrap>div>button.more {
    padding: 20px 40px;
    margin-left: 10px;
}

#about ion-icon {
    color: var(--p_dark);
    font-size: 1.2em;
    margin-right: 10px;
}

/* =============================================== */
/* #say 영역 */
/* =============================================== */
#says {
    height: auto;
}

#says_.says_wrap {

    display: flex;
    align-items: center;
    justify-content: center;
}

#says_.says_wrap ul {}

#says .says_wrap ul li {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

}

#says_.says_wrap ul li h3 {}

#says .says_wrap ul li p {
    margin-top: 50px;
    white-space: pre-line;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}

/* =============================================== */
/* #contact 영역 */
/* =============================================== */

#contact {
    background-color: #f1f1f1;


}

#contact .contact_wrap {}

#contact .contact_wrap h3 {
    text-align: center;
}

#contact .contact_wrap form {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

#contact .contact_wrap form fieldset {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: var(--white);
    position: relative;
}

#contact .contact_wrap form fieldset+fieldset {
    margin-left: 20px;
}

#contact .contact_wrap form fieldset legend {
    font-size: 1.5em;
    font-family: var(--font1);
    position: absolute;
    top: 5px;
}

#contact .contact_wrap form fieldset span {
    float: left;
    width: calc(100%/2);
}

#contact .contact_wrap form fieldset span>input {
    display: inline-block;
    width: 98%;
    margin: 10px 0;

}

#contact .contact_wrap form fieldset span+span {
    float: right;
}

#contact .contact_wrap form fieldset label {
    display: block;
    width: 100%;
    margin: 10px;
    font-weight: bold;

}

#contact .contact_wrap form fieldset input {
    box-sizing: border-box;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid var(--text_p);
    font-size: 1.1em;
}

#contact .contact_wrap form fieldset div>input {
    width: 100%;
}

#contact .contact_wrap form fieldset div {
    width: 100%;
}

#contact .contact_wrap form fieldset div textarea {
    width: 100%;
    border-radius: 20px;
    border: 1px solid;
    padding: 15px;
    box-sizing: border-box;

}

#contact .contact_wrap form fieldset>h4 {
    padding: 30px 0 10px 0;
}

#contact .contact_wrap form fieldset>a {
    color: var(--text_h3);
    font-weight: bold;
    transition: all .2s;
}

#contact .contact_wrap form fieldset>a:hover {
    color: var(--p_dark);
}

#contact button.more {
    padding: 10px 20px;
    margin-top: 30px;
}

/* =============================================== */
/* footer 영역 */
/* =============================================== */
footer {}

.footer_wrap {
    width: 1200px;
    margin: 0 auto;
}

.footer_wrap div {}

.footer_wrap div {}



