/* RESET */


body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

strong {
    font-weight: normal;
}

/* RESET 끝 */


/* COMMON */

:root {
    --primary-color: saddlebrown;
    --secodary-color: burlywood;
}

/* COMMON끝 */


/* LAYOUT */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* LAYOUT 끝*/


/* DESIGN */
body {
    background-color: var(--primary-color);
    color: var(--secodary-color);
    text-align: center;
    line-height: 1;
    font-family: "arial";
}

.cow {
    background-color: var(--secodary-color);
    color: var(--primary-color);
    width: 250px;
    height: 300px;
    margin: 0 auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: inset 0 15px 37px 18px rgba(0, 0, 0, 0.3);
}

.horn {
    background-color: #fff;
    height: 70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 -70px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6)
}

.horn::before {
    content: "";
    display: block;
    height: 30px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.horn::after {
    content: "";
    background-color: rosybrown;
    display: block;
    height: 80px;
    margin: 0 80px;
    transform: translateY(-20px);
    border-radius: 20px;
    box-shadow: inset 0 -30px 20px rgba(0, 0, 0, 0.2);
}

.eyes {
    border-top: 30px double;
    border-radius: 20px;
    margin: 30px 30px;
    display: flex;
    justify-content: space-around;
}

.eyes::before,
.eyes::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    box-shadow: inset 5px -8px 0px 12px currentColor;
}

.nose {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--secodary-color);
    border-radius: 40px;
    margin: -20px;
    
    box-shadow:  0 5px 6px currentColor;
}

.nose::before,
.nose::after {
    content: " ";
    width: 30px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    
}

.mouth {
    background-color: var(--secodary-color);
    height: 30px;
    margin: 20px 30px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 10px 10px currentColor;
    position: relative;
   
}

.mouth::after {
    content: ' ';
    background-color: red;
    height: 30px;
    position: absolute;
    bottom:-50px;
    left:0;
    right:0;
    bottom:0;
    margin: 0 60px;
    transform:translateY(100%);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
    border-bottom: 20px solid var(--secodary-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title {
    background-color: var(--primary-color);
    font-size: 100px;
    padding: 40px 0;
}

.title strong {
    font-weight: bold;
}

/* DESIGN 끝 */