html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

main,
section {
    height: 100%;
}

.wrap {
    height: 100%;
}

.hide {
    display: none !important;
}

.fade {
    height: 80%;
}

.block {
    display: block;
}