@charset "UTF-8";
/* 햄버거 */
.ham{
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 16px;
  display: none;
  transition: all 1s;
}
.ham::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  top: -8px;
  z-index: 2;
}
.ham::after{
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  top: 6px;
  z-index: 2;
}
